#responsive_page_content {
  background-image: url('https://steam-fec.s3.amazonaws.com/images/background.jpg');
  height: 100vh;
  width: 100vw;
   background-size: cover;
  font-family: 'Yantramanav', sans-serif;
}

#total-nav {
  background-color: #171a21;
  padding: 30px;
  padding-left: 400px;
}

.supernav_container {
  padding: 14px 16px;
  margin-left: 185px;
  font-size: 16px;
}

#logo_holder {
  position: absolute;
}

a {
  color: #b8b6b4;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

#global_action_menu {
  float: right;
  padding-top: 10px;
  padding-right: 420px;
}

#line-separator {
  color: #b8b6b4;
}

#header_installsteam_btn_content {
  color: #e5e4dc;
  background-color: #5c7e10;
  padding: 4px 10px;
}

#header_installsteam_btn_content:hover {
  color: #ffffff;
}

#install-login-language {
  font-size: 13px;;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 250px;
  color: #e5e4dc;
  background-color: #171a21;

}

.rule {
  height: 8px;
  border-top: 1px solid #585858;
  margin: 10px 420px 5px 400px;
}

#more-info, #valve, #bottom-links {
  font-size: 14px;
  margin-left: 400px;
  margin-right: 420px;
}

.footer-items {
  color: #e5e4dc;
  display: inline-block;
  background-color:#545454;
  padding: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
  border-radius: 3px;
}

#footer-text {
  position: absolute;
  top: 150px;
}

#footer-valve-logo {
  position: absolute;
}