#responsive_page_content {
  background-image: url('https://steam-fec.s3.amazonaws.com/images/background.jpg');
  height: 100vh;
  width: 100vw;
   background-size: cover;
  font-family: 'Yantramanav', sans-serif;
}

#total-nav {
  background-color: #171a21;
  padding: 30px;
  padding-left: 400px;
}

.supernav_container {
  padding: 14px 16px;
  margin-left: 185px;
  font-size: 16px;
}

#logo_holder {
  position: absolute;
}

a {
  color: #b8b6b4;
  text-decoration: none;
}

a:hover {
  color: #ffffff;
}

#global_action_menu {
  float: right;
  padding-top: 10px;
  padding-right: 420px;
}

#line-separator {
  color: #b8b6b4;
}

#header_installsteam_btn_content {
  color: #e5e4dc;
  background-color: #5c7e10;
  padding: 4px 10px;
}

#header_installsteam_btn_content:hover {
  color: #ffffff;
}

#install-login-language {
  font-size: 13px;;
}

