#proxyTop {
  float: right;
  padding-top: 10px;
  padding-right: 175px;
}

#container {
  padding: 14px 16px;
  margin-left: 185px;
  font-size: 16px;
}

#secondNav {
  background-color: #171a21;
  padding: 30px;
  padding-left: 175px;
}

.selectItem {
  color: #b8b6b4;
  text-decoration: none;
}

@media (min-width: 1675px) {
  #media-header {
    margin-left: 220px;
    margin-right: 220px;
  }
}
