#navbar {
  background-color:#3f7da1;
  padding: 14px;
  margin-left: 400px;
  margin-right: 420px;
  border: 1px solid black;
  border-radius: 3px;
}

.nav-select {
  position: relative;
  color: #e5e4dc;
  /* border-right: 1px solid black; */
  margin-right: 0;
  padding-right: 16px;
}

.nav-select:after {
  content: '';
  height: 240%;
  width: 0.5px;
  margin-top: -12px;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #000000;
}

.nav-select:hover {
  color: black;
}

.navbar-selections {
  font-size: 14px;
  padding-left: 10px;
  padding-right: 10px;
}


#store_nav_search_term {
  float: right;

}

::placeholder {
  color: black;
  font-style: italic;
}

input {
  background-color:#305d8a;
  line-height: 20px;
  position: absolute;
  margin-left: -230px;
}

input::-webkit-input-placeholder {
  font-size: 14px;
  color: black;
  transform:translate3d(0,-4px,0)
}

#search-text-input{
  border: thin solid black;
  border-radius: 3px;
  margin-top: -10px;
  padding:.8em 0 .4em .6em;
  width: 230px;
}


#search-button {
  margin-top: -9px;
  margin-left: -30px;
  position: absolute;
  font-size: 24px;
  background-color: #3f7da1;
  color: rgb(26, 83, 100);
}